<mat-grid-list cols="4" rowHeight="24px" class="mat-elevation-z8">
  <mat-grid-tile>Opthion</mat-grid-tile>
  <mat-grid-tile>Left</mat-grid-tile>
  <mat-grid-tile>Middle</mat-grid-tile>
  <mat-grid-tile>Right</mat-grid-tile>


  <mat-grid-tile>#1</mat-grid-tile>
  <!--
      fromComp
      pice
      shelemim
      widthGalil
      sherit
      simitriBig
      simitriLittle
      allSimitri
     -->
  <mat-grid-tile style="background-color: yellow">{{data.pice}}</mat-grid-tile>
  <mat-grid-tile>{{data.rohabimShlemim}} X {{data.rollWidth}}</mat-grid-tile>
  <mat-grid-tile>{{data.piceWidth}}</mat-grid-tile>

  <mat-grid-tile>#2</mat-grid-tile>
  <mat-grid-tile>{{ data.litlePice}}</mat-grid-tile>
  <mat-grid-tile>{{data.rohabimShlemim - 1}} X {{data.rollWidth}}</mat-grid-tile>
  <mat-grid-tile>{{ data.litlePice }}</mat-grid-tile>

  <mat-grid-tile>#3</mat-grid-tile>
  <mat-grid-tile>{{data.bigPice}}</mat-grid-tile>
  <mat-grid-tile>{{data.rohabimShlemim}} X {{data.rollWidth}}</mat-grid-tile>
  <mat-grid-tile>{{data.bigPice}}</mat-grid-tile>

  <mat-grid-tile>#4</mat-grid-tile>
  <mat-grid-tile>--</mat-grid-tile>
  <mat-grid-tile> {{data.rohabimShlemim+1}} X {{data.equlPice | number:'0.0-0' }}</mat-grid-tile>
  <mat-grid-tile>--</mat-grid-tile>
</mat-grid-list>
