mat-form-field {
  width: 110px;
  height: 80px;
}

.center-div {
  display: block;
  margin: 0 auto;
}

.calacSec {
  display: flex;
  flex-direction: column;
}

.sewing mat-form-field {
  color: brown;
  width: 80px;
  margin: 1px;
}
