<form (ngSubmit)="calcWidth()" #f="ngForm">
  <div class="mat-elevation-z8">
    <div class="sewing center_elm">
      <mat-form-field appearance="outline">
        <mat-label>width galil</mat-label>
        <input matInput name="rollWidth" type="number" [(ngModel)]="rollWidth" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Seam</mat-label>
        <input matInput type="number" name="seam" [(ngModel)]="seam" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Side Hem </mat-label>
        <input matInput type="number" name="sideHem" [(ngModel)]="sideHem" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Length Hem</mat-label>
        <input matInput type="number" name="lengthHem" [(ngModel)]="lengthHem" />
      </mat-form-field>
    </div>

    <div class="center_elm">

      <mat-form-field appearance="outline">
        <mat-label>width</mat-label>
        <input matInput name="bodyWidth" type="number" [(ngModel)]="bodyWidth" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Length</mat-label>
        <input matInput name="bodyLength" type="number" [(ngModel)]="bodyLength" />
      </mat-form-field>



      <mat-form-field appearance="outline">
        <mat-label>Pice</mat-label>
        <input matInput name="piceWidth" type="number" [(ngModel)]="piceWidth" />
      </mat-form-field>
    </div>
  </div>

  <!--
    <div>
      <button [disabled]="f.invalid" mat-raised-button type="submit" color="primary">
        Calclator
      </button>
    </div> -->

  <div class="calacSec">

    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <button [disabled]="f.invalid" mat-raised-button type="submit" color="accent">Pices </button>
        </ng-template>

        <app-width-view *ngIf="isDoCal" [data]="picesData"></app-width-view>

      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <button [disabled]="f.invalid" mat-raised-button type="submit" color="accent">Length</button>
        </ng-template>
        <app-length-view *ngIf="isDoCal" [data]="picesData"></app-length-view>

      </mat-tab>
    </mat-tab-group>
  </div>

</form>
