<div> Awings Calclator</div>
<div class="main-app mat-elevation-z8">
  <button matBotton color="accent" type="button" (click)="addTab()">Add Tab</button>
  <div>
    <mat-tab-group [selectedIndex]="selectedTab" color="accent" backgroundColor="primary"
      (selectedIndexChange)="onSelected($event)">
      <mat-tab *ngFor="let tab of tabs; let index = index">
        <ng-template mat-tab-label>
          <span><span>({{index+1}}):</span>{{size.bodyWidth}} X {{size.bodyLength}}</span>
          <button *ngIf="tabs.length > 1" type="button" class="tab-delete" (click)="deleteTab(index)">X</button>

        </ng-template>
        <app-size #size></app-size>
      </mat-tab>
      <!--  <mat-tab>
      <ng-template mat-tab-label>
        <button type="button" (click)="addTab()">+</button>
      </ng-template>
    </mat-tab> -->
    </mat-tab-group>
  </div>

</div>
