.main-app {
  font-size: 16px;
}

mat-form-field {
  width: 120px;
  height: 80px;
}

mat-grid-list {
  width: 100%;
}

.center-div {
  display: block;
  margin: 0 auto;
}

.calacSec {
  display: flex;
  flex-direction: column;
}

.sewing mat-form-field {
  color: brown;
  width: 80px;
  margin: 1px;
}
