<div class="main-app mat-elevation-z8">
  <div class="title">
    <mat-card-title>Awings Calclator</mat-card-title>
    <mat-card-actions>
      <button type="button" (click)="addTab()">
        <mat-icon>add</mat-icon>
      </button>
      <button [disabled]="resultsCal.length === 0" type="button" (click)="deleteTab(selectedTab)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card-actions>
  </div>
  <mat-tab-group [selectedIndex]="selectedTab" color="warn" backgroundColor="primary"
    (selectedIndexChange)="onSelected($event)">
    <mat-tab *ngFor="let resultCal of resultsCal; let index = index">
      <ng-template mat-tab-label>
        <span [ngClass]="{'blod':resultCal.isCal}"><span>[{{index+1}}]:</span>{{size.bodyWidth}} X
          {{size.bodyLength}}</span>
      </ng-template>

      <app-size [id]="selectedTab" #size (onCalc)="onCalcHendler($event)"></app-size>

    </mat-tab>
  </mat-tab-group>

  <div *ngIf="resultsCal.length">
    <mat-grid-list [cols]="2" rowHeight="24px" style="background-color: yellow;
    margin: 5px;padding: 5px">
      <mat-grid-tile>
        Total Pice : {{totalPice}}
      </mat-grid-tile>
      <mat-grid-tile>
        Total length : {{totalLength}}
      </mat-grid-tile>

    </mat-grid-list>
    <mat-grid-list rowHeight="24px" [cols]="5" class="sum-title">
      <mat-grid-tile>#</mat-grid-tile>
      <mat-grid-tile [colspan]="2">SIZE </mat-grid-tile>
      <mat-grid-tile>PICE</mat-grid-tile>
      <mat-grid-tile>Length</mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list rowHeight="24px" [cols]="5" *ngFor="let resultCal of resultsCal;let index = index">
      <mat-grid-tile>{{index+1}}</mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        {{resultCal.size}}
      </mat-grid-tile>
      <mat-grid-tile>
        {{resultCal.pice}}
      </mat-grid-tile>
      <mat-grid-tile>
        {{resultCal.length}}
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <!--   <div *ngIf="resultsCal.length">
    <ul>
      <li>
        Total Pice : {{totalPice}}
      </li>
      <li>
        Total length : {{totalLength}}
      </li>
    </ul>

    <ol>
      <div *ngFor="let resultCal of resultsCal">
        <li *ngIf="resultCal.isCal">
          <span>{{resultCal.size}} </span>
          <span>{{resultCal.pice}} </span>
          <span>{{resultCal.length}}</span>
        </li>
      </div>
    </ol>
  </div> -->

</div>
