<mat-grid-list cols="3" rowHeight="24px" class="mat-elevation-z8">

  <mat-grid-tile> Length </mat-grid-tile>
  <mat-grid-tile> Reapt</mat-grid-tile>
  <mat-grid-tile> Total</mat-grid-tile>

  <mat-grid-tile>{{data.totalBodyLength}} X {{data.rollWidth}} </mat-grid-tile>
  <mat-grid-tile>{{data.rohabimShlemim}}</mat-grid-tile>
  <mat-grid-tile> {{(data.totalBodyLength * data.rohabimShlemim)}}</mat-grid-tile>

  <mat-grid-tile *ngIf="data.pice">{{data.totalBodyLength}} X {{data.pice}}</mat-grid-tile>
  <mat-grid-tile *ngIf="data.pice"> 1 </mat-grid-tile>
  <mat-grid-tile *ngIf="data.pice">{{data.totalBodyLength}}</mat-grid-tile>

  <mat-grid-tile *ngIf="data.pice"></mat-grid-tile>
  <mat-grid-tile *ngIf="data.pice">{{data.rohabimShlemim + 1}}</mat-grid-tile>
  <mat-grid-tile *ngIf="data.pice" style="background-color: yellow">{{ data.totalLength + data.totalBodyLength }}
  </mat-grid-tile>

</mat-grid-list>
